@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

*[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

body {
	background: #f9f9f9;
	color: #0e171c;
	font: 300 100%/1.5em 'Lato', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 2em;
	line-height: 1.25em;
	margin: .25em 0;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin: .33em 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	    /* height: 499px; */
        left: -1%;
        /* margin: -268px 0 0 -231px; */
        position: absolute;
        top: 10%;
        width: 102%;
}
img.calendario {
    margin-top: -129%;
    width: 35%;
    margin-left: 30%;
}
/* ---------- CALENDAR ---------- */

.calendar {
	text-align: center;
}

.calendar header {

	    position: relative;
        background: rgba(148, 196, 205, 0.9);
        border-radius: 20%;
}

.calendar h2 {
	height: 65px;
        line-height: 65px;
        text-align: center;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 8px;
        font-size: 39px;
        font-family: mifuente;
        color: white;
}

.calendar thead {
	font-weight: 600;
	text-transform: uppercase;
}

.calendar tbody {
	color: #7c8a95;
}

.calendar tbody td:hover {
	border: 2px solid #00addf;
}

.calendar td {
border: 2px solid rgba(107, 179, 193, 0.42);
    border-radius: 29%;
    display: inline-block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    width: 3.6em;
}

.calendar .prev-month,
.calendar .next-month {
	color: #cbd1d2;
}

.calendar .prev-month:hover,
.calendar .next-month:hover {
	border: 2px solid #cbd1d2;
}

.current-day {
	background: #00addf;
	color: #f9f9f9;
}

.event {
	cursor: pointer;
	position: relative;
}

.event:after {
	    background: #00addf;
        border-radius: 50%;
        bottom: 2.5em;
        display: block;
        content: '';
        height: 0.5em;
        left: 50%;
        margin: -.25em 0 0 -.25em;
        position: absolute;
        width: 0.5em;
}

.event.current-day:after {
	background: #f9f9f9;
}

.btn-prev,
.btn-next {
	border: 5px #ffffff;
        border-radius: 37%;
        color: #ffffff;
        height: 2em;
        font-size: .75em;
        line-height: 2em;
        margin: -1em;
        position: absolute;
        top: 51%;
        width: 2em;
}

.btn-prev:hover,
.btn-next:hover {
	background: #cbd1d2;
	color: #f9f9f9;
}

.btn-prev {
	left: 6em;
}

.btn-next {
	right: 6em;
}